<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone.invoice" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Invoice_view"
            android:label="@string/title_activity_invoice_view" >
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".Items_view"
            android:label="@string/title_activity_items_view" >
        </activity>
        <activity
            android:name=".AddInvoiceItemView"
            android:label="@string/title_activity_add_invoice_item_view" >
        </activity>
        <activity
            android:name=".InvoicePrintView"
            android:label="@string/title_activity_invoice_print_view" >
        </activity>
    </application>

</manifest>
