<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azwraith.apps.tbcapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChatActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".NotesActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Timetable"
            android:screenOrientation="landscape" />
        <activity android:name=".About" />
        <activity android:name=".SubEbookActivity"/>
        <activity android:name=".MathsActivity"/>
        <activity android:name=".BookActivity"></activity>
    </application>

</manifest>